[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
discord = "==2.2.3"
keras = "*"
pillow = "*"
requests = "*"
"discord.py" = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.12"
